<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title>Deallio Home</title>
  </head>

  <body>
    <div class="back"style="background-image: url(/background.jpg);">
      <h1 class="bg-success p-2 text-white bg-opacity-75">
        <h1 class="bg-success p-2 text-white bg-opacity-75">
          <!-- Header -->
          <!-- 
 <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>De<span>A</span>ll<span>i</span>o</h1>
          </a>
        </div> 
-->
          <!---  <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul> 
        </div>
      </div>
    </div>
        </section>-->
          <!-- End Header -->

          <!-- Hero Section  -->
          <section id="hero">
            <div class="hero container">
              <div>
                <h1>Hello, <span></span></h1>
                <h1>Welcome To <span></span></h1>
                <h1>Deallio <span></span></h1>
                <a href="#services" type="button" class="cta">What's The Deallio?</a>
              </div>
            </div>
          </section>
          <!-- End Hero Section  -->

          <!-- Service Section -->
          <section id="services">
            <div class="services container">
              <div class="service-top">
                <h1 class="section-title">Our<span> </span>Pl<span>EDGE</h1>
                  <p>What gives Deallio the adventage over our competitors? And how do we keep our pledge to our customer, both vendors and users? </p>
                </div>
                <div class="service-bottom">
                  <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/about.png" /></div>
                    <h2>Exclusive Deals and Promotions - </h2>
                    <p> By highlighting exclusive deals and promotions that vendors offer through our application, we can help draw in potential traffic and customers.</p>
                  </div>
                  <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Vendor Listings - </h2>
                    <p> Browse our ever-increasing directory of vendors that have partnered with us, while we make it easier for you to discover the products or services you are interested in.</p>
                  </div>
                  <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/about.png" /></div>
                    <h2>Customizable Notifications - </h2>
                    <p> We offer customizable notifications for when new promotions or deals are added to help keep you engaged and encourage you to keep coming back.</p>
                  </div>
                  <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Transparency - </h2>
                    <p> Deallio promises to be transparent about its promotions and deals, ensuring that users are not misled by false advertising or hidden fees. 
                      <br>
                      That's what makes Deallio, Deallio. </p>
                  </div>
                  <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>User privacy - </h2>
                    <p>Deallio pledges to protect the privacy of its users by not sharing their personal information with third-party companies. Rest assured your information is safe with us. </p>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Service Section -->

            <!-- Projects Section -->
            <section id="projects">
              <div class="projects container">
                <div class="projects-header">
                  <h1 class="section-title">About <span>Deallio</span></h1>
                </div>
                <div class="all-projects">
                  <div class="project-item">
                    <div class="project-info">
                      <h2>Come and See</h2>
                      <h1> What's the Deallio</h1>
                      <p>The "Deallio" app is a web-based platform that connects users with vendors offering daily deals on various products and services. The app aims to simplify the process of finding and accessing promotions, as well as providing a platform for vendors to showcase their products to potential customers.</p>
                    </div>
                    <div class="project-img">
                      <img src="/background.jpg" alt="img">
                    </div>
                  </div>
                  <div class="project-item">
                    <div class="project-info">
                      <h1>Over 2000+</h1>
                      <h2>Registered Promotions*</h2>
                    </div>
                    <div class="project-img">
                      <img src="/promo.jpg" alt="img">
                    </div>
                  </div>
                  <div class="project-item">
                    <div class="project-info">
                      <h1>95%</h1>
                      <h2>Customer satisfaction rate:</h2>
                    </div>
                    <div class="project-img">
                      <img src="/wesaved.jpg" alt="img">
                    </div>
                  </div>
                  <div class="project-item">
                    <div class="project-info">
                      <h1>10,000</h1>
                      <h2>Number of active users*</h2>
                    </div>
                    <div class="project-img">
                      <img src="/mooney.jpg" alt="img">
                    </div>
                  </div>
                  <div class="project-item">
                    <div class="project-info">
                      <h1>Over 100+</h1>
                      <h2>Registered Vendors*</h2>
                    </div>
                    <div class="project-img">
                      <img src="/piggy.jpg" alt="img">
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Projects Section -->

            <!-- About Section -->
            <section id="about">
              <div class="about container">
                <div class="col-left">
                  <div class="about-img">
                    <img src="/deallio.jpeg" alt="img">
                  </div>
                </div>
                <div class="col-right">
                  <h1 class="section-title">About <span>US</span></h1>
                  <h2>Follow the Deallio team!</h2>
                  <p></p>
                  <a href="#footer" class="cta">Connect with us</a>
                </div>
              </div>
            </section>
            <!-- End About Section -->

            <!-- Contact Section -->
            <section id="contact">
              <div class="contact container">
                <div>
                  <h1 class="section-title">Contact <span>info</span></h1>
                </div>
                <div class="contact-items">
                  <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                      <h1>Fax Us @</h1>
                      <h2>+1 773 735 1111</h2>
                    </div>
                  </div>
                  <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                      <h1>Email</h1>
                      <h2>AnActualLegitEmail@gmail.com</h2>
                    </div>
                  </div>
                  <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                      <h1>Address</h1>
                      <h2>200 S Wacker Dr, Chicago, Illinois</h2>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Contact Section -->

            <!-- Footer -->
            <section id="footer">
              <div class="footer container">
                <div class="brand">
                  <h1>De<span>A</span>ll<span>I</span>o</h1>
                </div>
                <h2>"Your go-to app for incredible deals!"</h2>
                <div class="social-icon">
                  <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/github.png" /></a>
                  </div>
                  <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
                  </div>
                  <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook.png" /></a>
                  </div>
                  <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/youtube.png" /></a>
                  </div>
                </div>
                <p>Copyright © 2023 Jewell B. All rights reserved</p>
              </div>
            </section>
            <!-- End Footer -->
            <script src="/app.js"></script>
          </body>

        </html>
